body {
  background: #dfe7e9;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 640px) {
  .signup-form {
    width: 97%;
    font-size: 12px;
  }
  .signup-form form {
    margin-bottom: -25px;
    padding: 0px 20px 15px;
  }
  .signup-form .hint-text {
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 640px) {
  .signup-form {
    width: 480px;
  }
  .signup-form form {
    margin-bottom: -10px;
    padding: 0px 40px 25px;
  }
  .signup-form .hint-text {
    margin-bottom: 20px;
  }
}

.navbar-brand {
  color: #007bff !important;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.navbar-brand:hover {
  color: #0056b3 !important;
}

.form-group .form-control {
  font-size: 16px;
  transition: all 0.4s;
  box-shadow: none;
  padding-left: 45px;
}
.form-group i {
  opacity: 1;
  position: absolute;
  z-index: 1;
  margin: 5px 9px;
  color: #979faf;
  font-size: 26px;
}
.form-control:focus {
  border-color: #5cb85c;
}
.form-control,
.btn {
  border-radius: 50px;
  outline: none !important;
}
.signup-form {
  margin: 30px auto 0px;
  padding: 15px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 20px 1px darkcyan;
}
.signup-form .anchor {
  color: #5cb85c;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}
.signup-form .anchor:hover {
  color: #0056b3;
  text-decoration: underline;
}
.signup-form h2 {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 15px;
}
.signup-form .hint-text {
  color: #999;
  text-align: center;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.forgotpwd {
  float: right;
  font-size: 0.9em;
  margin: -15px 0px 10px;
}
.signup-form .btn {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.signup-btn {
  text-align: center;
  border-color: #5cb85c;
  transition: all 0.4s;
}
.signup-btn:hover {
  background: #5cb85c;
  opacity: 0.8;
}
.or-seperator {
  margin: 30px 0 5px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}
.social-btn .btn {
  color: #fff;
  margin: 10px 0 0 15px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: normal;
  border: none;
  transition: all 0.4s;
}
.social-btn .btn:first-child {
  margin-left: 0;
}
.social-btn .btn:hover {
  opacity: 0.8;
}
.social-btn .btn-primary {
  background: #507cc0;
}
.social-btn .btn-info {
  background: #64ccf1;
}
.social-btn .btn-danger {
  background: #df4930;
}
.social-btn .btn i {
  float: left;
  margin: 3px 10px;
  font-size: 20px;
}

/* ///////////// Navbar ////////////// */

.navbar {
  position: fixed;
  display: block;
  height: 60px;
  /* z-index: 100; */
  width: 100%;
  /* margin-top: -120px; */
  background-color: #fff;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.nav-profile {
  display: block;
  height: 50px;
  z-index: 100;
  width: 100%;
  margin: 0px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.nav_usr {
  float: right;
}
